package {{apiPackage}};

import org.junit.*;

import java.util.Map;
import java.util.HashMap;

 {{#fnPrintAnnotations}}{{/fnPrintAnnotations}}
public class SingleTestSuite extends TestBase {
{{#apiInfo}}
{{#apis}}
{{#operations}}{{#operation}}
{{#examples}}{{#fnParseExamples}}{{example}}{{/fnParseExamples}}{{/examples}}
{{/operation}}{{/operations}}
{{/apis}}
{{/apiInfo}}
}